@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body,html{
    height: 100dvh;
    width: 100dvw;
    background-color: rgb(27, 27, 122);
}

main{
    height: 100%;
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr 3fr;
    gap: 5px;
}
main div{
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid white;
    color: white;
}

div.box2{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
img{
    width: 100%;
}
section{
    padding: 5px;
}