@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body,html{
    height: 100dvh;
    width: 100dvw;
    background-color: rgb(27, 27, 122);
}

main{
    height: 99%;
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr 5fr;
    grid-template-columns: 4fr 1fr;
    gap: 5px;
}
main div{
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid white;
    color: white;
}
div.box1{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}
div.box2{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}
div.box3{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}
div.box4{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
}