@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body,html{
    height: 100dvh;
    width: 100dvw;
    background-color: rgb(27, 27, 122);
}

main{
    height: 99%;
    padding: 10px;
    display: grid;
    grid-template-rows: 10% 10% 80%;
    gap: 5px;
}
main div{
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid white;
    color: white;
}