@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100dvh;
    width: 100dvw;
    background-color: rgb(27, 27, 122);
    padding: 10px;
}

h1{
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid white;
    color: white;
    margin-bottom: 20px;
}

main{
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid white;
}
main p{
    color: white;
}
main img{
    background-color: greenyellow;
    max-height: 30vw;
    margin: 10px 0px;
}